* {
	box-sizing:border-box;
}

body{
	margin:0;
	padding: 0;
	overflow: hidden;
	color:#212121;
	font-family: 'Amatic SC', cursive;
}	
						
.save-container {
	position:fixed;
	padding:10px;
	left:50%;
	bottom:10px;
	transform: translateX(-50%);
}

.save-container span {
	margin-left:15px;
}

.save-container input {
	border:none;
	border-bottom:2px solid #212121;
	background:transparent;
	padding:5px;
}

.save-container input:focus {
	outline:none;
}

.msg-saved {
	position:fixed;
	padding:10px;
	left:50%;
	top:70px;
	transform: translateX(-50%);
	font-size: 4em;
	font-weight: 700;
	display:none;
}

.fa {
	cursor:pointer;
}

canvas {
	background-image:url('../images/paper.jpg');
	cursor: crosshair;
	background-size:cover;
}		

.gallery {
	background:#fff;
	box-shadow:5px 0 10px rgba(0,0,0,.3);
	width:300px;
	height:100vh;
	position:fixed;
	left:-300px;
	top:0;
	overflow:auto;
	transition: left .6s;
	padding:35px 20px;
	font-size: 1.3em;
}

.gallery img {
	width:100%;
	height:auto;
}

.gallery h2 {
	text-align:center;
}

.drawing-container {
	position:relative;
	border-bottom:1px solid #212121;
}

.remove {
	position:absolute;
	right:5px;
	top:5px;
	color:#e53935;
	cursor: pointer;
}

.show-gallery {
	position:fixed;
	top:10px;
	left:20px;
}

#clear {
	position:fixed;
	top:10px;
	right:20px;
}